.webgl{    
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html,
body {
  height: 100%;
  margin: 1;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

#gameObjects{
  display: flex;
  overflow-y: auto;
  height: 100px;
}